
:root {
    --color-colors-white: #ffffff; 
    --color-colors-black: #000000; 
    --color-colors-cool-gray-10: #f5f6f7; 
    --color-colors-cool-gray-20: #dee1e4; 
    --color-colors-cool-gray-30: #bdc3c9; 
    --color-colors-cool-gray-40: #97a2ac; 
    --color-colors-cool-gray-50: #768491; 
    --color-colors-cool-gray-60: #5d6974; 
    --color-colors-cool-gray-70: #49515a; 
    --color-colors-cool-gray-80: #363d43; 
    --color-colors-cool-gray-90: #23282c; 
    --color-colors-primary-05: #eff8ff; 
    --color-colors-primary-15: #cfe9fe; 
    --color-colors-primary-25: #9ad2fd; 
    --color-colors-primary-35: #57b3fc; 
    --color-colors-primary-45: #0e93fa; 
    --color-colors-primary-55: #0477d2; 
    --color-colors-primary-65: #0360a9; 
    --color-colors-primary-75: #034d86; 
    --color-colors-primary-85: #023a65; 
    --color-colors-primary-95: #011b30; 
    --color-colors-premium-05: #fff8eb; 
    --color-colors-premium-10: #ffedcc; 
    --color-colors-premium-20: #ffd484; 
    --color-colors-premium-30: #ffba02; 
    --color-colors-premium-40: #fb8c00; 
    --color-colors-premium-50: #cc6600; 
    --color-colors-premium-60: #944a00; 
    --color-colors-premium-70: #834001; 
    --color-colors-premium-80: #5f3202; 
    --color-colors-premium-95: #2d1801; 
    --color-colors-success-10: #ccfadd; 
    --color-colors-success-20: #80ef9e; 
    --color-colors-success-30: #14cb67; 
    --color-colors-success-40: #10a755; 
    --color-colors-success-50: #0d8544; 
    --color-colors-success-60: #0a6a36; 
    --color-colors-success-70: #085029; 
    --color-colors-success-80: #06391d; 
    --color-colors-success-90: #032312; 
    --color-colors-success-95: #02190d; 
    --color-colors-warning-05: #fffbeb; 
    --color-colors-warning-10: #fff4cc; 
    --color-colors-warning-20: #ffdf6c; 
    --color-colors-warning-30: #fecf25; 
    --color-colors-warning-40: #ffbb00; 
    --color-colors-warning-50: #e9a001; 
    --color-colors-warning-60: #ab7207; 
    --color-colors-warning-70: #825507; 
    --color-colors-warning-80: #573a05; 
    --color-colors-warning-90: #3d2903; 
    --color-colors-error-10: #fbe9e8; 
    --color-colors-error-20: #f4c8c7; 
    --color-colors-error-30: #ec9d9a; 
    --color-colors-error-40: #e36d68; 
    --color-colors-error-50: #d83630; 
    --color-colors-error-60: #af2621; 
    --color-colors-error-70: #861d19; 
    --color-colors-error-80: #611512; 
    --color-colors-error-90: #360c0a; 
    --color-colors-error-95: #140404; 
    --color-colors-top-10: #eddefc; 
    --color-colors-top-20: #e2c2fa; 
    --color-colors-top-30: #d89af6; 
    --color-colors-top-40: #b768e8; 
    --color-colors-top-50: #a23ee2; 
    --color-colors-top-60: #8b25ce; 
    --color-colors-top-70: #751fad; 
    --color-colors-top-80: #631a94; 
    --color-colors-top-90: #411061; 
    --color-colors-top-100: #1d072c; 
    --color-colors-alpha-light-10: #ffffff1a; 
    --color-colors-alpha-light-20: #ffffff33; 
    --color-colors-alpha-light-30: #ffffff4d; 
    --color-colors-alpha-light-40: #ffffff66; 
    --color-colors-alpha-light-50: #ffffff80; 
    --color-colors-alpha-light-60: #ffffff99; 
    --color-colors-alpha-light-70: #ffffffb2; 
    --color-colors-alpha-light-80: #ffffffcc; 
    --color-colors-alpha-light-90: #ffffffe5; 
    --color-colors-alpha-dark-10: #23282c1a; 
    --color-colors-alpha-dark-20: #23282c33; 
    --color-colors-alpha-dark-30: #23282c4d; 
    --color-colors-alpha-dark-40: #23282c66; 
    --color-colors-alpha-dark-50: #23282c80; 
    --color-colors-alpha-dark-60: #23282c99; 
    --color-colors-alpha-dark-70: #23282cb2; 
    --color-colors-alpha-dark-80: #23282ccc; 
    --color-colors-alpha-dark-90: #23282ce5; 
    --color-colors-background-primaryhoveralpha: #0477d21a; /* alias { colors/primary_55,10% alpha } - hide from publishing */
    --color-colors-background-secondaryhoveralpha: #49515a1a; /* alias { colors/cool_gray_70,10% alpha } - hide from publishing */
    --color-colors-background-premiumhoveralpha: #fb8c001a; /* alias { colors/premium_40,10% alpha } - hide from publishing */
    --color-colors-background-successhoveralpha: #0d85441a; /* alias { colors/success_50,10% alpha } - hide from publishing */
    --color-colors-background-errorhoveralpha: #d836301a; /* alias { colors/error_50,10% alpha } - hide from publishing */
    --color-colors-background-warninghoveralpha: #e9a0011a; /* alias { colors/warning_50,10% alpha } - hide from publishing */
    --color-colors-typography-main: #23282c; 
    --color-colors-typography-muted: #5d6974; 
    --color-colors-typography-negative: #ffffff; 
    --color-colors-typography-primary: #0477d2; 
    --color-colors-typography-primaryhover: #0360a9; 
    --color-colors-typography-secondary: #49515a; 
    --color-colors-typography-secondaryhover: #23282c; 
    --color-colors-typography-premium: #fb8c00; 
    --color-colors-typography-premiumhover: #cc6600; 
    --color-colors-typography-success: #0d8544; 
    --color-colors-typography-successhover: #0a6a36; 
    --color-colors-typography-warning: #e9a001; 
    --color-colors-typography-warninghover: #ab7207; 
    --color-colors-typography-error: #d83630; 
    --color-colors-typography-errorhover: #af2621; 
    --color-colors-border-static: #bdc3c9; 
    --color-colors-border-interactive: #768491; 
    --color-colors-border-interactivehover: #49515a; 
    --color-colors-border-primary: #0477d2; 
    --color-colors-border-primarysubtle: #9ad2fd; 
    --color-colors-border-secondary: #768491; 
    --color-colors-border-secondarysubtle: #bdc3c9; 
    --color-colors-border-premium: #fb8c00; 
    --color-colors-border-premiumsubtle: #ffd484; 
    --color-colors-border-success: #10a755; 
    --color-colors-border-successsubtle: #80ef9e; 
    --color-colors-border-warning: #ffbb00; 
    --color-colors-border-warningsubtle: #ffdf6c; 
    --color-colors-border-error: #e36d68; 
    --color-colors-border-errorsubtle: #f4c8c7; 
    --color-colors-background-base: #ffffff; 
    --color-colors-background-subtle: #f5f6f7; 
    --color-colors-background-negative: #23282c; 
    --color-colors-background-primary: #0477d2; 
    --color-colors-background-primaryhover: #0360a9; 
    --color-colors-background-primarysubtle: #cfe9fe; 
    --color-colors-background-secondary: #49515a; 
    --color-colors-background-secondaryhover: #23282c; 
    --color-colors-background-secondarysubtle: #dee1e4; 
    --color-colors-background-premium: #fb8c00; 
    --color-colors-background-premiumhover: #cc6600; 
    --color-colors-background-premiumsubtle: #ffedcc; 
    --color-colors-background-success: #0d8544; 
    --color-colors-background-successhover: #0a6a36; 
    --color-colors-background-successsubtle: #ccfadd; 
    --color-colors-background-error: #d83630; 
    --color-colors-background-errorhover: #af2621; 
    --color-colors-background-errorsubtle: #fbe9e8; 
    --color-colors-background-warning: #e9a001; 
    --color-colors-background-warningsubtle: #fff4cc; 
    --color-colors-background-warninghover: #ab7207; 
}