
:root {
    --measure-dimension-space-sp0: 0px;     
    --measure-dimension-space-sp1: 4px;     
    --measure-dimension-space-sp2: 8px;     
    --measure-dimension-space-sp3: 12px;     
    --measure-dimension-space-sp4: 16px;     
    --measure-dimension-space-sp5: 20px;     
    --measure-dimension-space-sp6: 24px;     
    --measure-dimension-space-sp7: 28px;     
    --measure-dimension-space-sp8: 32px;     
    --measure-dimension-space-sp9: 36px;     
    --measure-dimension-space-sp10: 40px;     
    --measure-dimension-space-sp11: 44px;     
    --measure-dimension-space-sp12: 48px;     
    --measure-dimension-space-sp13: 52px;     
    --measure-dimension-space-sp14: 56px;     
    --measure-dimension-space-sp15: 60px;     
    --measure-dimension-space-sp16: 64px;     
    --measure-dimension-space-sp17: 68px;     
    --measure-dimension-space-sp18: 72px;     
    --measure-dimension-space-sp19: 76px;     
    --measure-dimension-space-sp20: 80px;     
    --measure-dimension-space-sp21: 84px;     
    --measure-dimension-space-sp22: 88px;     
    --measure-dimension-space-sp23: 92px;     
    --measure-dimension-space-sp24: 96px;     
    --measure-dimension-space-sp25: 100px;     
    --measure-dimension-space-sp26: 104px;     
    --measure-dimension-space-sp27: 108px;     
    --measure-dimension-space-sp28: 112px;     
    --measure-dimension-space-sp29: 116px;     
    --measure-dimension-space-sp30: 120px;     
    --measure-dimension-space-sp31: 124px;     
    --measure-dimension-space-sp32: 128px;     
    --measure-dimension-space-sp33: 132px;     
    --measure-dimension-space-sp34: 136px;     
    --measure-dimension-space-sp35: 140px;     
    --measure-dimension-space-sp36: 144px;     
    --measure-dimension-space-sp37: 148px;     
    --measure-dimension-space-sp38: 152px;     
    --measure-dimension-space-sp39: 156px;     
    --measure-dimension-space-sp40: 160px;     
    --measure-dimension-radii-br0: 0px;     
    --measure-dimension-radii-br1: 4px;     
    --measure-dimension-radii-br2: 8px;     
    --measure-dimension-radii-br3: 12px;     
    --measure-dimension-radii-br4: 16px;     
    --measure-dimension-radii-brfull: 999px; /* questo token non è presente a codice. viene utilizzato all'interno di Figma per gestire il border radius al 50% o al 100% */    
    --measure-dimension-breakpoints-sm: 576px;     
    --measure-dimension-breakpoints-md: 768px;     
    --measure-dimension-breakpoints-lg: 992px;     
    --measure-dimension-breakpoints-xl: 1200px;     
    --measure-dimension-breakpoints-xxl: 1400px;     
    --measure-dimension-fontsizes-base: 16px;     
    --measure-dimension-fontsizes-dw-1: 13px;     
    --measure-dimension-fontsizes-dw-2: 11px;     
    --measure-dimension-fontsizes-up-1: 19px;     
    --measure-dimension-fontsizes-up-2: 23px;     
    --measure-dimension-fontsizes-up-3: 28px;     
    --measure-dimension-fontsizes-up-4: 33px;     
    --measure-dimension-fontsizes-up-mobile-2: 21px;     
    --measure-dimension-fontsizes-up-mobile-3: 23px;     
    --measure-dimension-fontsizes-up-mobile-4: 28px;     
    --measure-dimension-fontweights-bold: 700px;     
    --measure-dimension-fontweights-regular: 400px;     
    --measure-dimension-fontweights-semibold: 600px;     
    --measure-dimension-letterspacings-ls1: 0.1000000014901161px;     
    --measure-dimension-letterspacings-ls2: 0.2000000029802322px;     
    --measure-dimension-letterspacings-ls3: 0.6000000238418579px;     
    --measure-dimension-letterspacings-ls4: 1px;     
    --measure-dimension-lineheights-base: 24px;     
    --measure-dimension-lineheights-dw-1: 20px;     
    --measure-dimension-lineheights-dw-2: 16px;     
    --measure-dimension-lineheights-dw-3: 13px;     
    --measure-dimension-lineheights-up-1: 32px;     
    --measure-dimension-lineheights-up-2: 36px;     
    --measure-dimension-lineheights-up-3: 40px;     
    --measure-dimension-lineheights-up-4: 48px;     
    --measure-dimension-lineheights-up-mobile-2: 28px;     
    --measure-dimension-lineheights-up-mobile-3: 32px;     
    --measure-dimension-lineheights-up-mobile-4: 36px;     
    --measure-dimension-opacities-disabled: 50px;     
    --measure-dimension-opacities-dimmer: 80px;     
    --measure-dimension-opacities-dimmerlight: 40px;     
    --measure-dimension-zindexes-tooltip: 180px;     
    --measure-dimension-zindexes-popover: 170px;     
    --measure-dimension-zindexes-modal: 160px;     
    --measure-dimension-zindexes-offcanvas: 150px;     
    --measure-dimension-zindexes-dimmer: 140px;     
    --measure-dimension-zindexes-fixed: 130px;     
    --measure-dimension-zindexes-sticky: 120px;     
    --measure-dimension-zindexes-dropdown: 100px;     
    --measure-dimension-zindexes-up-3: 3px;     
    --measure-dimension-zindexes-up-2: 2px;     
    --measure-dimension-zindexes-up-1: 1px;     
    --measure-dimension-zindexes-default: 0px;     
    --measure-dimension-zindexes-dw-1: -1px;     
    --measure-dimension-zindexes-dw-dive: -99px;     
    --measure-dimension-durations-fast-1: 70px;     
    --measure-dimension-durations-fast-2: 110px;     
    --measure-dimension-durations-moderate-1: 150px;     
    --measure-dimension-durations-moderate-2: 250px;     
    --measure-dimension-durations-slow-1: 450px;     
    --measure-dimension-durations-slow-2: 700px;     
}